.Button {
    cursor: pointer;
    letter-spacing: 1.2px;

    border-radius: 0;

    transition: var(--color-transition);
}

.Button_type_primary {
    width: 270px;
    padding: 11px 0;

    font-size: var(--typography-font-size-s);
    font-weight: bold;
    text-transform: uppercase;

    color: var(--typography-color-primary-inverse);
    border: none;
    background-color: var(--color-tiffany);
}

.Button_type_primary:hover {
    background-color: var(--color-tiffany-hover);
}

.Button_type_secondary {
    --button-secondary-background-color-hover: var(--color-tiffany);
    width: 160px;
    padding: 8px 0;

    font-size: var(--typography-font-size-xs);

    color: var(--typography-color-primary);
    border: 1px solid var(--color-tiffany);
    background-color: var(--color-surface-page);
}

.Button_type_secondary:hover {
    color: var(--typography-color-primary-inverse);
    background-color: var(--color-tiffany);
}
