.PromoSlider {
    position: relative;

    width: 100%;
    max-width: var(--content-width);
}

.Content {
    position: absolute;

    display: flex;
    flex-direction: column;
}

.PromoSlider_platform_desktop .Content {
    bottom: 100px;
    left: 150px;

    gap: var(--mobile-block-inner-gap);
}

.PromoSlider_platform_mobile .Content {
    justify-content: space-between;
    align-items: center;

    padding: 9% 10px;
    inset: 0;

    gap: 10px;

    text-align: center;
}

.Gallery :global(.image-gallery-content .image-gallery-slide .image-gallery-image) {
    max-height: initial;
}

.Header {
    margin: 0;

    text-transform: uppercase;
}

.PromoSlider_platform_desktop .Header {
    font-size: var(--typography-font-size-xl);
}

.PromoSlider_platform_mobile .Header {
    font-size: var(--typography-font-size-s);
}

.Description {
    font-weight: 100;
}

.PromoSlider_platform_desktop .Description {
    width: 550px;

    font-size: var(--typography-font-size-s);
}

.PromoSlider_platform_mobile .Description {
    font-size: var(--typography-font-size-xs);
}
